<!DOCTYPE html>
<html>
<head>
    <title>daily阶段demo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no;address=no;email=no" />
    <meta name="mobileOptimized" content="width" />
    <meta name="handheldFriendly" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- 引入seed -->
    <script src="http://g.tbcdn.cn/kissy/m/0.2.0/mini-full-min.js"></script>
    
    <!--引入依赖表-->
    <script src="http://g.assets.daily.taobao.net/tb/xcake-demo/1.0.1/deps-min.js"></script>

    <!-- 配置模块 -->
    <script>
        KISSY.config({
            packages: [
                {
                    name: '<%=name%>',
                    base: 'http://g.assets.daily.taobao.net/tb/xcake-demo/1.0.1',
                    ignorePackageNameInUri: true
                }
            ]}
        );
    </script>


    <!--引入样式-->
    <link rel="stylesheet" href="http://g.assets.daily.taobao.net/tb/xcake-demo/1.0.1/index-min.css" />
</head>
<body>

<header></header>

<article></article>

<!--初始化脚本-->
<script>
    KISSY.use('<%=name%>/index');
</script>

</body>
</html>