<!doctype html>
<html>
    <!--组件适配文档： https://github.com/lorrylockie/tpap/wiki/如何进行前端JS组件的适配工作-->
	<head>
        <meta charset="utf-8"/>
        <title>Gallery 安全组件适配的demo</title>
        <script src="http://g.tbcdn.cn/??kissy/k/1.3.2/kissy.js"></script>
        <script src="http://a.tbcdn.cn/apps/taesite/balcony/core/r4000/??caja/caja-min.js,base/caja-util-min.js,base/balcony-min.js"></script>
    </head>
    <body>
<!--
	

    说明： 1. 测试适配的demo页面,本页面包含了caja的客户端执行环境，通过`grunt isv_gallery`可以启动一个服务器
          通过访问127.0.0.1:9527/{version}/demo/index-isv.html 可以访问本页面，其中本页面的index-isv.js会自动进行caja
          服务端编译，这样就构成了一个完整的caja 环境
          2. J_TscriptedModule为gallery组件所能操作的dom范围，除非非常必要，不要让gallery组件的api操作.J_TScriptedModule元素以外
          的DOM
          3. 本页面通常不需要进行任何修改head部分引入了kissy和caja环境，J_TScriptedModule为JS能操作的HTML不用分，index-isv.js为测试功能的代码，会进行caja编译
          最后为loader setup，会自动加载isv-adapter(gallery 适配代码)

    测试： 直接在本页面写html和css
           在同级目录下index-isv.js中编写测试代码，该JS会自动被caja编译

-->

        <style>

        </style>
        <!--组件的JS代码只允许操作.J_TScriptedModule这个范围之内的DOM范围-->
        <div class="J_TScriptedModule" data-componentid="UNIQUE">
            <!--测试的html代码写在这个下面-->

        </div>








        <!--直接在index-isv中写测试的JS代码，JS代码实际上在访问的时候，会经过caja编译，这样就保证了真实的环境-->
        <script src="index-isv.js"></script>

        <!--loader setupjs , 注意gallery的版本号-->
        <script>
            var S = KISSY;
            var srcPath = "../../";
            S.config({
                packages: [
                    {
                        name: "gallery/<%= comConfig.name %>",
                        path: srcPath,
                        charset: "utf-8",
                        ignorePackageNameInUri: true
                    }
                ]
            });
            KISSY.ready(function () {
                KISSY.use(((KISSY.version === "1.30" || KISSY.version === "1.32") ? "sizzle," : "core,") + "gallery/<%= comConfig.name %>/1.0/isv-adapter" || "", function (S) {
                    var adapterArray = S.makeArray(arguments);
                    adapterArray.splice(0, 2);
                    TShop.Balcony.setup(adapterArray);
                });
            });
        </script>
    </body>
</html>
